$soft-blue: hsl(231, 69%, 60%);
$Soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$grayish-blue-50: rgba($grayish-blue ,0.5);
$grayish-blue-10: rgba($grayish-blue ,0.10);
$very-dark-blue: hsl(229, 31%, 21%);
$border-radius-value: 10px;
$box-shadow-value: 0px 5px 10px 2px rgba($very-dark-blue ,0.1);
$drop-shadow-value: 0px 10px 10px rgba($very-dark-blue ,0.1);

:root{
    --lateral-paddings: 2rem;
    --invert-lateral-paddings: -2rem;
}

@media screen and (min-width: 48em) {
    :root{
        --lateral-paddings: 7.5rem;
        --invert-lateral-paddings: -7.5rem;
    }
}